.notes-main {
    border-radius: 50px;
}
.notes-list {
    background-color: #EBEAF7;
    border: 1px solid #81a6da;
    border-radius: 15px;
    overflow: hidden;
}
.notes-list-header {
    display: flex;
    background-color: #166AE0;
    color: white;
    align-items: center;
}
.notes-list-body {
    background-color: #ffffff;
}
.notes-list-icon {
    filter: invert(1);
}
